<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499711424182-r54carla4voj4ftbdddcr3q4obqtdn3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499711424182-r54carla4voj4ftbdddcr3q4obqtdn3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBEe_kQXTn3tq-t-gO6mejMLyNgbJuoMOU</string>
	<key>GCM_SENDER_ID</key>
	<string>499711424182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arecanutApp</string>
	<key>PROJECT_ID</key>
	<string>arecanut-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>arecanut-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499711424182:ios:5349aab430141fa006d817</string>
</dict>
</plist>